
name: .NET Core

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select environment'
        required: true
        type: choice
        options:
          - dev
          - qa
          - prod
jobs:

  build:
    name: Build .NET 6 Application
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET 6 SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.0.x'

      - name: Restore dependencies
        working-directory: StudentWebApi
        run: dotnet restore

      - name: Build solution      
        working-directory: StudentWebApi
        run: dotnet build --configuration Release --no-restore

      - name: Publish application
        working-directory: StudentWebApi
        run: dotnet publish -c Release -o publish

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-app
          path: StudentWebApi/publish/
